.inlay {
    margin: 14% auto 0;
    @include border-radius(20px);
    padding: 20px 50px;
    color: $popoverFontColor;
    background: $inlayColorBg;
    max-width: 255px;
    position: relative;
    @media (max-width: 600px) {
        margin-top: 7%;
    }

    &__title {
        color: $popoverFontColor;
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 16px;
        line-height:22px;
        @media (max-width: 600px) {
            font-size: 12px;
            line-height:17px;
        }
    }

    &__text {
        color: $popoverFontColor;
        display: block;
        font-size: 14px;
        line-height: 18px;
        @media (max-width: 600px) {
            font-size: 11px;
            line-height: 15px;
        }
    }

    &__icon {
        margin: 10px;
        font-size: 50px;
    }

    &__warning_icon {
        position: absolute;
        left: 20px;
        top: 23px;

        svg {
            width: 16px;
            height: 16px;
            path {
                fill: #F2994A;
            }
        }
    }
}
