.filmstrip__videos .videocontainer {
    display: inline-block;
    position: relative;
    background-size: contain;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    margin: -4px $thumbnailVideoMargin 10px 0;
    transition: border-color .3s ease-in-out;

    &.videoContainerFocused, &:hover {
        cursor: hand;
    }

    /**
     * Focused video thumbnail.
     */
    &.videoContainerFocused {
        border: $thumbnailVideoBorder solid $videoThumbnailSelected;
    }

    .remotevideomenu > .icon-menu, .localvideomenu > .icon-menu {
        display: none;
    }

    /**
     * Hovered video thumbnail.
     */
    &:hover:not(.videoContainerFocused):not(.active-speaker) {
        cursor: hand;
        border: $thumbnailVideoBorder solid $videoThumbnailHovered;
        box-shadow: inset 0 0 3px $videoThumbnailHovered,
        0 0 3px $videoThumbnailHovered;

        .remotevideomenu > .icon-menu, .localvideomenu > .icon-menu {
            display: inline-block;
        }
    }

    & > video {
        cursor: hand;
        border-radius: 8px;
        object-fit: cover;
        overflow: hidden;
    }

    .presence-label {
        position: absolute;
        z-index: $zindex3;
    }
}
