.filmstrip__videos .videocontainer {
    display: inline-block;
    position: relative;
    background-size: contain;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    margin: 4px 0;
    transition: border-color .3s ease-in-out;

    &:hover {
        cursor: hand;
    }

    & > video {
        cursor: hand;
        border-radius: 8px;
        object-fit: cover;
        overflow: hidden;
    }

    .presence-label {
        position: absolute;
        z-index: $zindex3;
    }
}
